<%= content_for :title, 'Home' %>

<div class="home">
  <h2>Welcome to Lyrik!</h2>

  <p>Lyrick is the world’s leading social sound platform where anyone can create sounds and share them everywhere.<p>

  <p>Recording and uploading sounds to Lyrick lets people easily share them privately with their friends or publicly to blogs, sites and social networks.</p>

  <p>It takes just a click to share sounds to Twitter, Tumblr, Facebook and Foursquare.</p>

  <p>Lyrick can be accessed anywhere using the official iPhone and Android apps, as well as hundreds of creation and sharing apps built on the Lyrick platform.</p>

</div>